@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "normal";
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --primary: #cbe2c8;
  --secondary: #e8fd9d;
  --pure: #d6dfea;
  --tertiory: #cbe2c8;
  --optional: #f3f7f5;
  --dark-bg: #0f1122;
  --btn-bg:#D49D1F;
  --btn-bg2:#FFBC25;
}

* {
  font-family: "Poppins", sans-serif;
}
.header {
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  background-color: white;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.logo {
  line-height: 1;
}
@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}
.logo span {
  font-size: 24px;
  font-weight: 400;
  color: black;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* search bar */
.search-bar {
  min-width: 560px;
  padding: 0 120px;
}

.header .search-form input {
  border: 1px solid gray;
  font-size: 14px;
  color: black;
  padding: 7px 30px 7px 8px;
  border-radius: 4px;
  transition: 0.3s;
  width: 450px;
  background: transparent;
  letter-spacing: 1px;
  font-weight: 500;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #373737 inset !important;
  -webkit-text-fill-color: var(--tertiory);
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  margin-bottom: 8px;
  background: none;
}

.header .search-form button i {
  color: black;
}

/* profile */
.profile-img .nav-profile {
  padding-top: 16px;
}
.profile-img .nav-profile img {
  height: 42px;
  width: 42px;
  object-fit: contain;
}
.nav-item .profileName {
  color: black;
  font-weight: 400;
}

/* notify */
