@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "normal";
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --primary: #cbe2c8;
  --secondary: #e8fd9d;
  --pure: #d6dfea;
  --tertiory: #cbe2c8;
  --optional: #f3f7f5;
  --dark-bg: #0f1122;
  --btn-bg:#D49D1F;
  --btn-bg2:#FFBC25
}
* {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0px;
  bottom: 0;
  width: 220px;
  z-index: 996;
  transition: left 1s ease;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: 1rem;
  scrollbar-color: var(--primary);
  background-color: white;
  text-wrap: nowrap;
}

.sidebar-closed {
  left: -240px;
  transition: left 1s ease;
}

.sideNav {
  display: flex;
  position: relative;
}

.sidebar::-webkit-scrollbar {
  width: 1px;
  height: 2px;
  background-color: var(--primary);
  border-radius: 1rem;
}

.toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: BLACK;
  position: absolute;
  z-index: 1100;
  left: 150px;
  transition: left 1s ease;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.submenu.show {
  max-height: 500px;
}

.submenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu ul li {
  padding: 5px 20px;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
}

.submenu ul li a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.nav-link.active {
  background-color: var(--optional);
  border-radius: 4px;
  padding: 10px 8px;
  
}

.bi-chevron-up,
.bi-chevron-down {
  margin-left: auto;
}

.nav-link i {
  padding-right: 12px;
  font-size: 1.1;
}
.nav-item {
  margin-left: -2rem;
  padding: 12px 8px;
  transition: 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 400;
}
.nav-item a {
  color: black;
  font-family: light;
}

.nav-item #submenu #chevron {
  padding-left: 1rem;
  color: black;
  font-family: bold;
}

.nav-item ul li {
  padding: 4px 8px;
  margin: 1rem auto;
  color: #f5f5f5;
}
.nav-item ul li a {
  color: black;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -257px;
  }

  .toggle-sidebar .sidebar {
    left: 0;
  }

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .sidebar {
    left: 0;
    transition: 2s ease-in-out;
  }

  #main,
  #footer {
    margin-left: 210px;
    transition: 4s ease-in-out;
  }

  .toggle-sidebar .sidebar {
    left: -257px;
    transition: 2s ease-in-out;
  }

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
    transition: 2.5s ease-in-out;
  }
}
.sidebar hr {
  color: var(--btn-bg2);
  width: 90%;
}
