@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "normal";
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  --primary: #cbe2c8;
  --secondary: #e8fd9d;
  --pure: #d6dfea;
  --tertiory: #cbe2c8;
  --optional: #f3f7f5;
}
* {
  font-family: "Poppins", sans-serif;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}
.modal-header h2 {
  font-size: 18px;
  font-weight: 500;
}
.modal-header button {
  border: none;
  padding: 4px 8px;
  background-color: var(--secondary);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.modal-header button:hover {
  outline: 1px solid #ccc;
  border-radius: 50%;
}
.modal-content form {
  display: flex;
  flex-direction: column;
}
.modal-content form label {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 8px;
}
.modal-content form input {
  border: 1px solid gray;
  text-indent: 4px;
  padding: 4px;
  border-radius: 4px;
  outline: none;
}
.modal-content form button {
  background-color: var(--secondary);
  color: black;
  border: none;
  padding: 5px;
  margin-top: 2rem;
  font-weight: 500;
}

body.modal-open {
  overflow: hidden;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .modal-content {
    max-width: 80%;
  }
  .modal-header h2 {
    font-size: 16px;
  }
  .modal-header button {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .modal-content {
    max-width: 90%;
  }
  .modal-header h2 {
    font-size: 14px;
  }
  .modal-header button {
    font-size: 0.9rem;
  }
  .modal-content form label {
    font-size: 14px;
  }
  .modal-content form button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    max-width: 95%;
  }
  .modal-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .modal-header h2 {
    font-size: 12px;
    margin-bottom: 0.5rem;
  }
  .modal-header button {
    align-self: flex-end;
    font-size: 0.8rem;
  }
  .modal-content form label {
    font-size: 12px;
  }
  .modal-content form button {
    font-size: 12px;
  }
}
